<%= form_for [@view, @content] do |f|  %>
  <div>
    <%= f.label :version do %>
      version:
      <%= f.text_field :version %>
    <% end %>
  </div>

  <br>

  <fieldset>
    <div>
      <%= f.fields_for :data do |d|%>
        <% @view.to_constant.content_keys.each do |key| %>
          <div>
            <%= d.label key do %>
              <%= key %>:
              <%= d.text_area key.to_sym, value: @content.data[key.to_s], rows: 1, cols: 80 %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </fieldset>

  <br>

  <%= f.submit cm :form_submit %>
<% end %>
