<%= form_for [@view, @content] do |f|  %>
  <div>
    <%= f.label :version do %>
      version:
      <%= f.text_field :version %>
    <% end %>
  </div>
  <div>
    <%= f.fields_for :data do |d|%>
      <% @view.to_constant.content_keys.each do |key| %>
        <%= d.label key do %>
          <%= key %>:
          <%= d.text_field key.to_sym, value: @content.data[key.to_s] %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= f.submit 'Submit' %>
<% end %>
