<h1><%= @view.name %></h1>

<% if @view.to_constant.available_templates.size > 0 %>
  <%= form_for @view do |f|%>
    <%= f.label 'Active Template' do %>
      <%= f.select :active_template, @view.to_constant.available_templates || [] %>
    <% end %>

    <%= f.submit %>
  <% end %>
<% end %>

<span><b><%= @content.keys_title %>:</b></span>

<% @view.to_constant.content_keys.each do |key| %>
  <span><%= key %> </span>
<% end %>
<hr>

<table>
  <thead>
    <tr>
      <th colspan="1"><h3><%= @content.versions_title %></h3></th>
      <th colspan="1"><%= link_to @content.new_button, new_view_content_path(@view) %></th>
    </tr>
  </thead>
  <tbody>
    <% @contents.each do |c| %>
      <tr>
        <td><%= link_to c.version.to_s, view_content_path(@view, c) %></td>
        <td><%= link_to @content.destroy_button, view_content_path(@view, c), method: :delete %></td>
        <td><%= link_to @content.edit_button, edit_view_content_path(@view, c) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

