<h1><%= @view.name %></h1>
<h2><%= @content.keys_title %></h2>
<% @view.to_constant.content_keys.each do |key| %>
  <span><%= key %> </span>
<% end %>
<h2><%= @content.versions_title %></h2>
<ul>
<% @contents.each do |c| %>
  <li>
    <%= link_to c.version.to_s, view_content_path(@view, c) %>
    <%= link_to @content.destroy_button, view_content_path(@view, c), method: :delete %>
    <%= link_to @content.edit_button, edit_view_content_path(@view, c) %>
  </li>
<% end %>
</ul>

<%= link_to @content.new_button, new_view_content_path(@view) %>
